main>section:nth-of-type(6n+1){background-color:#0080ed}
main>section:nth-of-type(6n+2){background-color:#7cb940}
main>section:nth-of-type(6n+3){background-color:#939393}
main>section:nth-of-type(6n+4){background-color:#c6c6c6}
main>section:nth-of-type(6n+5){background-color:#989898}
main>section:nth-of-type(6n+6){background-color:#c1c1c1}
.Exp{
  height: 388px;
  overflow: hidden
}

.modal{
  display: none;
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-content{
  background-color: #f9f6ea;
  min-height: 100vh;
}
.modal-header{
  background-color:#0080ed;
}